
<body> 
    <h1>THE RULES AND REGULATIONS OF OUR PARK</h1>
    <h2>Do and don'ts in our park:</h2>
    <p>1.Do not keep your mobile phone in the side pockets of the pants. ...</p>
    <p>2.Do not stand in the vehicle unless permitted by the guide/driver.</p>
    <p>3.Do not point towards birds. ...</p>
    <p>4.Do not dispose of polythene bags, tetra packs or food in the national park during the safari. ...</p>
    <p>5.Do not deviate from the allotted routes or leave the road</p>
    <h2>How do you behave in a park:</h2>
    <p>1.Please be as quiet as possible.</p>
    <p>2.By doing so, your chance to see other rides will rise.</p>
    <p>3.Camping in the Park is prohibited.</p>
    <p>4.Please use official camp sites.</p>
    <h2>On playground safty:</h2>
    <p>1.Use equipment properly —slide feet-first, don't climb outside guardrails, no standing on swings, etc.</p>
    <p>2.Always check to make sure no other kids are in the way if they're going to jump off equipment or slide, and land on both feet with their knees slightly bent.</p>
<h2>Top 5 tips for parents:</h2>
<p>THE HEIGHT LIMIT IS NOT A COMPREHENSIVE SAFTY GUIDE. 
 Don't get a false sense of security from height limits if your child is tall for her age. 
    The height requirement is aimed to filter out children too young for the intensity of the ride or who don't have the muscle strength for its forces. 
    To your child, the ride may seem fast, noisy and shaky, or full of distractions and confusing illusions that can cause impulsive behavior. 
    Make sure the lap bars secure the child if he/she is slender as well as tall for his/her age.</p>
<p>MAKE SURE YOUR CHILD IS SUPERVISED AS NESSASARY. 
    When the rules require that your child ride with a supervising companion, make sure that individual is paying attention to the child, not simply enjoying the ride from the next seat. 
    Companions are required when there is some concern that smaller children may react to the ride out of fear or excitement with dangerous actions. 
    The companion is part of the safety restraint system of the ride. 
    If you're not riding with your child, choose someone mature enough that you would trust him or her to babysit your child.</p>
<p>DON'T UNDERMINE THE OPERATOR'S RESPONSIBILITY TO KEEP YOUR CHILDREN SAFE.   
    If the operator says your child is too small to ride, explain to your child he isn't ready and he can try again next year. 
    Likewise, don't give into your child's demands to go on a ride that you think is too mature for him. 
    He or she may not realize how fast the roller coaster will seem or how high the Ferris wheel goes. 
    Children can panic and attempt to exit the moving ride or suffer through the ride feeling traumatized. 
    This can spoil the day for everyone and may have repercussions on future trips to the fair.</p>
<p>VOICE YOUR SAFTY CONCERNS. If something seems wrong with the ride, such as a lap bar not latching properly or brakes not holding well, inform the operator immediately, and as soon as possible, tell guest relations at the carnival or main park entrance in case the operator did not understand you.</p>
<p>BE ESPECIALLY CAREFUL OF "BOUNCY CASTLES" AND INFLATABLE SLIDES. 
    There have been many sprains and fractures, and even fatal injuries, when these devices are not properly installed and secured to the ground or not adequately supervised. 
    Constant supervision by staff and parents is critical to prevent children injuring themselves or other smaller children. 
    Many inflatable rides are rented and can be staffed by event hosts who are not properly qualified or attentive.</p>
    <h2>Top 5 tips for children:</h2>
    <p>FOLLOW THE RULES, NOT THE OTHER KIDS. The rules are to help you have fun, not spoil it.</p>
    <p>PAY ATTENTION TO SPECIFIC SAFTY INSTRUCTIONS. Watch out when the rules say things like "hang on to the handles," "slide only feet first," "stay seated," "don't rock the seat," "get rid of gum before you ride" or "no flipping." When they post those rules, it is because they know those actions can cause kids to get hurt.</p>
    <p>CHOOSE RIDES THAT ARE FUN FOR YOU. Don't go on a boring ride and try to make it exciting by doing it upside down and backwards. You can be hurt or may even be sent home and not allowed to come back.</p>
    <p>WATCH OUT FOR THE LITTLE KIDS. If you see a little kid doing something dangerous, warn the ride operator or another adult so someone can help. If you see older kids pushing, shoving and spoiling the fun for others on the ride, tell the ride operator. The operator can direct the older kids to a ride that is more suited to their age group.</p>
    <p>READ THE SIGNS AND TEACH YOUR PARENTS SOME SAFTY RULES. Even adults get hurt when they put their hands in the air or don't ride properly.</p>
    <p>Now that you have these safety tips in hand, what are you waiting for? That roller coaster line isn't getting any shorter.</p>
    <h1>THE MOST IMPORTANT RULES</h1>
    <P>1.don't cut or spoill the garden.otherwise we chare amount for that</P>
    <p>2.make sure your money,cards,jewellary very safe.we are not responsible for that</p>
    <p>3.keep your children safe their at you.</p>
    <p>4.don't waste food.throw the waste at dustbin</p><br>
    <p>EVERYONE MUST FOLLOW THE ABOVE MENTIONED RULES</p>
    <a herf="#" style="float:right">SIGNATURE BY C.E.O OF WORLD ADVENTURES PARK
       <br> <option value="XXXXX">XXXXXXXXXXXXXXX</option><br>
        </a>
</body>  

