<body>
<h1>Important things to keep in mind when visiting Wonderla Amusement Park</h1>
    <p>1.Carry valid ID proofs, face masks, sanitiser, sunglasses, sunscreen lotion, extra pair of clothes, and flip-flops</p>
    <p>2.Download and register on Aarogya Setu app</p>
    <p>3.Buy tickets in advance to avoid long queues and maintain social distancing at the ticket counter</p>
    <p>4.Do not dive in the pools, as they are shallow</p>
    <p>5.People with COVID-19 symptoms, high blood pressure and heart conditions, pregnant women, and those prone to epilepsy should refrain from visiting the park</p>
    <p>6.You must follow all safety and hygiene instructions</p>
    <p>7.Do not carry outside foods and drinks inside the park</p>
    <p>8.Take care of your phone, wallet and other belongings</p>
    <p>9.1Avoid wearing loose garments for safety reasons</p>
    <p>10.Stay hydrated, especially on warmer days</p>
    <p>11.Places to visit near Wonderla Amusement Park, Hyderabad</p>
    <p>12.After spending quality time at Wonderla Hyderabad, you can also explore these nearby attractions:</p>
    <p>13.After spending quality time at Wonderla Hyderabad, you can also explore these nearby attractions:</p>
    
<h1>Wonderland Entry Fee:</h1>
<h1>Normal Season </h1>
<div class="card-body">   
<table border="3">
<thead>
<tr>
        <th>Weekdays</th>
        <th>INR</th>
        <th>GST</th>
        <th>Fee</th>
        <th>Coupon</th>
        <tr>
        </thead>
        <tbody>
            <tr>
            <td>Adult (Regular)</td>
            <td>815</td>
            <td>18%</td>
            <td>1299/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Senior Citizen(above 60 years)</td>
            <td>610</td>
            <td>18%</td>
            <td>999/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Senior Citizen(above 70 years)</td>
            <td>410</td>
            <td>18%</td>
            <td>799/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Child (Regular</td>
            <td>635</td>
            <td>18%</td>
            <td>1025/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Defence</td>
            <td>650</td>
            <td>18%</td>
            <td>1040/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Fastrack Adult</td>
            <td>1225</td>
            <td>18%</td>
            <td>1600/</td>
            <td>scratch the ticket</td>
          </tr>
          <tr>
            <td>Fasttrack Child</td>
            <td>955</td>
            <td>18%</td>
            <td>1399/</td>
            <td>scratch the ticket</td>
          </tr>
          </tbody>
   </table>
</div>
<br>
<div class="card-body">   
  <table border="3">
  <thead>
  <tr>
          <th>Weekends</th>
          <th>INR</th>
          <th>GST</th>
          <th>Fee</th>
          <th>Coupon</th>
          <tr>
          </thead>
          <tbody>
              <tr>
              <td>Adult (Regular)</td>
              <td>1015</td>
              <td>18%</td>
              <td>1499/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Senior Citizen(above 60 years)</td>
              <td>760</td>
              <td>18%</td>
              <td>1099/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Senior Citizen(above 70 years)</td>
              <td>510</td>
              <td>18%</td>
              <td>899/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Child (Regular</td>
              <td>635</td>
              <td>18%</td>
              <td>1025/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Defence</td>
              <td>650</td>
              <td>18%</td>
              <td>1040/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Fastrack Adult</td>
              <td>1225</td>
              <td>18%</td>
              <td>1600/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Fasttrack Child</td>
              <td>955</td>
              <td>18%</td>
              <td>1399/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Evening Entry from 4 PM (Adult)</td>
              <td>620</td>
              <td>18%</td>
              <td>899/</td>
              <td>scratch the ticket</td>
            </tr>
            <tr>
              <td>Evening Entry from 4 PM (Child, Senior Citizen, Defence)</td>
              <td>520</td>
              <td>18%</td>
              <td>799/</td>
              <td>scratch the ticket</td>
            </tr>
            </tbody>
     </table>
  </div>
<br>
<h1>peak season</h1>
  <div class="card-body">   
    <table border="3">
    <thead>
    <tr>
            <th>Peak Season (All Days)</th>
            <th>INR</th>
            <th>GST</th>
            <th>Fee</th>
            <th>Coupon</th>
            <tr>
            </thead>
            <tbody>
                <tr>
                <td>Adult (Regular)</td>
                <td>1060</td>
                <td>18%</td>
                <td>1549/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Senior Citizen(above 60 years)</td>
                <td>795</td>
                <td>18%</td>
                <td>1199/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Senior Citizen(above 70 years)</td>
                <td>530</td>
                <td>18%</td>
                <td>919/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Child (Regular</td>
                <td>825</td>
                <td>18%</td>
                <td>1225/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Defence</td>
                <td>850</td>
                <td>18%</td>
                <td>1250/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Fastrack Adult</td>
                <td>1590</td>
                <td>18%</td>
                <td>1800/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Fasttrack Child</td>
                <td>1240</td>
                <td>18%</td>
                <td>1499/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Evening Entry from 4 PM (Adult)</td>
                <td>645</td>
                <td>18%</td>
                <td>999/</td>
                <td>scratch the ticket</td>
              </tr>
              <tr>
                <td>Evening Entry from 4 PM (Child, Senior Citizen, Defence)</td>
                <td>540</td>
                <td>18%</td>
                <td>899/</td>
                <td>scratch the ticket</td>
              </tr>
              </tbody>
       </table>
    </div>

  <h1>Wonderla  ticket price for children below 85 cm in height – Nil</h1>
  <br><br>
</body>